#ES{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                }
                                 
                                 
                                 
#SingleSE{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                 }
#SingleYear{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                 }
#SingleN{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                 }
#SingleID{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                 }
#SinglePub{
                                font-family:  'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                background-color: #EBFFE5;
                                 }
#TRFIref{
                              
                                position: absolute;
                                bottom: 10px;
}

#SEref{
                                position: absolute;
                                bottom: 10px;
  
}

#BMref{
                                position: absolute;
                                bottom: 10px;
}

#puniref{
                                position: absolute;
                                bottom: 10px;
}

#normal_funnel{
                                margin: auto;
}

#sunset_funnel{
                                margin: auto;
}

#BMbtn{
  display: flex;
 align-items: center;
 justify-content: center;
}

#helpFile{
}  